@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
  }

  section {
    width: 100%;
  }
